// content
$contentPrimary: #0E0E0E;
$contentSecondary: #4F4F4F;
$contentTertiary: #FF1616;
$contentInversePrimary: #ffffff;

// background
$bgPrimary: #ffffff;
$bgSecondary: #FF4646;
$bgTertiary: #AFAFAF;
$bgInversePrimary: #1D1D1D;
$bgInverseSecondary: #FF1616;


// 
$bgButtonPrimary: #FF4646;
$bgButtonSecondary: #FF1616;

// line

$linePrimary: #E9E9E9;
$lineSecondary: #dedede;
$lineTertiary: #e9eaec;




// function

$accentPrimary: #13deeb;
$accentSecondary: rgba(19, 222, 235, 0.16);
$linkPrimary: #096dd9;
$scrimPrimary: rgba(27, 27, 27, 0.8);
$AlwaysContentPrimary: #030303;

$negativePrimary: #e94040;
$positivePrimary: #31c375;
$criticalPrimary: #ffad80;
$informativePrimary: #18baff;
$alwaysLine: #dedede;

$alwaysLightPrimary: #ffffff;
$alwaysDarkPrimary: #0a0a0a;
$Brainning: #da2127;
$alwaysTertiary: #777777;
$semiOrange: #fffbef;



$shadow: rgba(0, 0, 0, 0.1);
// BoxShadow

$boxShadow: 0px 2px 10px rgba(0, 0, 0, 0.1);