// BorderRadius
$border-Radius-Primary: 200px;

$border-Radius-Secondary: 8px;

$border-Radius-tertiary: 16px;
// overflow
$overflow: rgba(0, 0, 0, 0.8);
// border 
$border: 1px solid #E9E9E9;
.status-success {
  color: $positivePrimary !important;
}
.status-waiting {
  color: $criticalPrimary !important;
}

.status-failed {
  color: $contentSecondary !important;
}
