.breadcrumbs {
  &__section {
    &-box {
      display: flex;
      padding: 8px 0;
      a {
        text-decoration: none;
        display: block;
        color: $contentSecondary;
        span {
          font-weight: 500;
        }
      }
    }
    
    
    &-link:last-child {
      .active {
        color: $contentPrimary;
      }
      color: $contentPrimary;
      a {
        
        font-size: 12px;
        font-weight: 500;
  
        line-height: 16px;
        text-decoration: none;
        color: $contentSecondary;
        
      }
    }
  }
}
