// content
$contentPrimary: #ffffff;
$contentSecondary: #a8abb2;
$contentTertiary: #696c77;
$contentInversePrimary: #131416;

// background
$bgPrimary: #26282c;
$bgSecondary: rgba(225, 235, 255, 0.14);
$bgTertiary: #131416;
$bgInversePrimary: #ffffff;
$bgBackgroundImgDropShadow: rgba(0, 0, 0, 0.7);
$bgButtonFacebook: #3b5998;
$bgButtonGoogle: #4285f4;
// line

$linePrimary: #565961;
$lineSecondary: #c8cacf;
$lineTertiary: #e9eaec;

// function

$accentPrimary: #13deeb;
$accentSecondary: rgba(19, 222, 235, 0.24);
$linkPrimary: #096dd9;
$scrimPrimary: rgba(0, 0, 0, 0.6);
$AlwaysContentPrimary: #030303;

$negativePrimary: #e94040;
$positivePrimary: #31c375;
$criticalPrimary: #fa8c16;
$informativePrimary: #18baff;
$alwaysLine: #dedede;

$alwaysLightPrimary: #ffffff;
$alwaysDarkPrimary: #2f3136;
$Brainning: #da2127;
$alwaysTertiary: #777777;
$semiOrange: #fffbef;

$colorBlack: #000;
$colorWhite: #fff;
$bgHeaderLink: rgba(27, 27, 27, 0.8);

$shadow: rgba(0, 0, 0, 0.7);
