$primary-color: #0b0b0b;
$white-color: #fff;
$red-color: #da2127;
$text-color: #777777;
$text-primary: #030303;

.status-success {
  color: $positivePrimary !important;
}
.status-waiting {
  color: $criticalPrimary !important;
}

.status-failed {
  color: $contentSecondary !important;
}
