.PricingPages {
  .question {
    &__main {
      padding-left: 90px;
      padding-right: 90px;
    }
  }
}
@media (max-width: 767px) {
  .PricingPages {
    .question {
      &__main {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
